# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
out/

# IIS Express
*.vsidx
*.dbmdl
*.log

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Entity Framework
Migrations/

# Configuration
appsettings.*.json

# Others
*.DS_Store
*.swp
*.bak
Database/*.bak
