@{
    ViewData["Title"] = "Acceso Denegado";
}

<h2 class="text-danger">Acceso Denegado</h2>
<p>No tienes permisos para acceder a esta sección.</p>

<a asp-controller="Cuenta" asp-action="Login" class="btn btn-primary">Volver al inicio</a>
