@model WebApp.Models.LoginViewModel

<h2>Iniciar Sesión</h2>

<form asp-action="Login" method="post">
    <form asp-action="LoginSimple" method="post">
        <input asp-for="Nombre" />
        <input asp-for="Contrasenia" type="password" />
        <button type="submit">Login Simple</button>
    </form>

    <form asp-action="LoginAvanzado" method="post">
        <input asp-for="Nombre" />
        <input asp-for="Contrasenia" type="password" />
        <button type="submit">Login Avanzado</button>
    </form>
</form>


